.navbar{
    overflow: hidden;
    background-color: #d1a84f88;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

  .navbar a:hover {
    color: #e9dcdc;
  }
  
  .heading {
   padding-top: 5%;
   text-decoration: overline;
   color: #5e3c1d;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .container {
    padding: 18px;
    margin-top: 35px;
    height: auto;
  }

.blog-container{
  margin: 35px auto;
  width:80%;
  padding: 8px;
}

.text{
  text-align: justify;
}

  h1,h3,h4{
    text-align: center;
    font-family:'Poppins', sans-serif;
  }
  
  #box1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:10px;
    border-bottom: 1px solid (0,0,0,0.05);
  }

  .box2{
    width: auto;
    border:1px solid hsl(32, 46%, 27%);
    margin: 20px;
  }


  .boxtext{
    padding: 25px;
    display: flex;
    flex-direction: column;
  }
  
  .blog-text span{
    color:#5e3c1d
  }

#image-gallery{
  padding: 60px;
}  

.box{
display: flex;
align-items: center;
justify-content: center;
height: 15vh;
}

.form-box{
  padding: 10px;
  border-radius: 5px;
  background-color: #99772fcb;
  box-shadow: 10px 10px 15px #5e3c1d, -10px -10px 15px #fff;
}

.form-box input{
  font-size: 18px;
  color:#000000;
  padding:15px 10px;
  border: none;
  outline:none;
  background: #ffffffb0;
}

.form-box button{
  color:#fff
  padding: 15px 20 px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s;
}

.artist{
  margin: 150px auto;
  width: 50%;
  padding: 8px;
}
img{
  float: left;
  width: 350px;
  height: 475px;
  padding: 0 10px 0 0;
}

.text{
  text-align: justify;

}